<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="token">
    <input type="hidden" formControlName="email">

    <div class="info">
      Podaj nowe hasło.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput formControlName="newPassword">
      <mat-error *ngIf="form.get('newPassword')!.invalid">
        Hasło musi mieć przynajmniej 8 znaków, cyfrę oraz małą literę
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Zresetuj hasło</button>
  </form>
</mat-card>
