<div class="container">
  <div class="image">
    <img src="../../assets/img/people_talking.jpg" alt="Piknik">
  </div>
  <div class="text">
    <h2>Znajdź event dla siebie</h2>
    <div>
      Dołącz do społeczności, która łączy ludzi przez eventy!
      Czy szukasz ciekawego wydarzenia, do którego mógłbyś dołączyć? A może organizujesz coś wyjątkowego i chcesz zaprosić innych? Oto idealne miejsce dla Ciebie!
      <ul>
        <li>Dodawaj własne eventy</li>
        <li>Przeglądaj i dołączaj do eventów w Twojej okolicy</li>
        <li>Poznaj ludzi o podobnych zainteresowaniach i baw się razem z nimi</li>
        <li>Dołącz do naszej społeczności już dziś i zacznij odkrywać niezliczone możliwości spotkań i zabawy!</li>
      </ul>
    </div>
    <div>Dla zalogowanych użytkowników dostęp do czatu oraz tworzenia/edycji eventów!</div>
  </div>
</div>
