<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="info">
    Podaj adres e-mail swojego konta. Otrzymasz link pozwalający na zmianę hasła.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.get('email')!.invalid">{{ errorMessageService.getErrorMessage(form, 'email') }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Zresetuj hasło</button>
  </form>
</mat-card>
