.sidenav-container {
  height: 100%;
}

.main-link:hover{
  cursor: pointer;
}

.people-icon{
  font-size: 2rem;
  margin-right: 2rem;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 16px;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .sidenav {
    width: 200px;
  }
}

mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item{
  display: inline-block;
  height: auto;
  width: auto;
  color: white;
  }
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
